<%= form_with(model: @flower, url: flower_path(@flower), method: :patch, multipart: true) do |form| %>
  <div>
    <%= form.label :"Название" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :"Описание" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :"Цена" %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :"Цвет (преобладающий)" %>
    <%= form.select :color, options_for_select(['Красный', 'Зеленый', 'Синий', 'Желтый', 'Фиолетовый', 'Белый', 'Черный'], selected: @flower.color) %>
  </div>
  <div>
    <%= form.label :"К событию" %>
    <%= form.select :event, options_for_select(['Свадьба', 'День рождения', 'Юбилей', 'Другое'], selected: @flower.event) %>
  </div>
  <div>
    <%= form.label :"Комплектация" %>
    <%= form.collection_check_boxes :equipment, ['В наличии', 'В упаковке', 'Доставка курьером магазина'], :to_s, :humanize, checked: @flower.equipment %>
  </div>
  <div>
    <%= form.label :"Акция" %>
    <%= form.collection_radio_buttons :sale, [['Да', true], ['Нет', false]], :second, :first, checked: @flower.sale %>
  </div>
  <div>
    <%= form.label :"Продавец" %>
    <%= form.text_field :vendor %>
  </div>
  <div>
    <%= form.label :"Рейтинг" %>
    <%= form.text_field :rating %>
  </div>
  <div>
    <%= form.label :"Кол-во куплено" %>
    <%= form.text_field :purchased_count %>
  </div>
  <div>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit 'Обновить продукт' %>
  </div>
<% end %>
