<section class="flowers-index">
  <div class="container">
    <div class="flowers-title">Откройте для себя волшебство цветов: огромный выбор ярких и нежных оттенков, чтобы добавить красоту и свежесть в вашу жизнь.</div>
    <div class="flowers-content">
      <% @flowers.each do |flower| %>
        <div class="flower">
          <%= image_tag flower.image, class:"flower__index-img" if flower.image.attached? %>
          <div class="flower-title">
            <%= link_to flower.name, flower_path(flower), target: "_blank" %>
          </div>
          <div class="flower-color">
            <span class="flower-label">Цвет:</span>
            <span class="flower-value"><%= flower.color %></span>
          </div>
          <div class="flower-event">
            <p class="text-left">Событие:</p> <%= flower.event %>
          </div>
          <div class="flower-equipment">
            <%= flower.equipment.tr('[]/"','').sub!(/^[, ]/, '') %>.
          </div>
          <div class="flower-vendor">
            <p class="text-left">Поставщик:</p> <%= flower.vendor %>
          </div>
          <div class="flower-purchase_count">
            <p class="text-left">Куплено:</p> <%= flower.purchased_count %>
          </div>
          <% rating = flower.rating.gsub(',', '.').to_f %>
          <% full_stars = rating.to_i %>
          <% remainder = rating % 1 %>
          <span class="flower-rating"><%=flower.rating%>
            <% for i in 1..5 do %>
              <% if rating >= i %>
                <%= image_tag('star_full.png', class:"star") %>
              <% elsif rating >= i - 0.5 && rating < i %>
                <%= image_tag('star_half.png', class:"star") %>
              <% else %>
                <%= image_tag('star_empty.png', class:"star") %>
              <% end %>
            <% end %>
          </span>
          <div class="flower-price">
            <%= flower.price %> руб.
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>