<%= form_with(model: @flower, url: flowers_path, method: :post) do |form| %>
  <div>
    <%= form.label :"Название" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :"Описание" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :"Цена" %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :"Цвет (преобладающий)" %>
    <%= form.select :color, options_for_select(['Красный', 'Зеленый', 'Синий', 'Желтый', 'Фиолетовый', 'Белый', 'Черный'], selected: @flower.color) %>
  </div>
  <div>
    <%= form.label :"Комплектация" %>
    <%= form.select :equipment, options_for_select(['В наличии', 'В упаковке', 'Доставка курьером магазина'], selected: @flower.equipment) %>
  </div>
  <div>
    <%= form.label :"Акция" %>
    <%= form.collection_radio_buttons :sale, [['Да', true], ['Нет', false]], :second, :first, checked: @flower.sale %>
  </div>
  <div>
    <%= form.label :"Продавец" %>
    <%= form.text_field :vendor %>
  </div>
  <div>
    <%= form.label :"Рейтинг" %>
    <%= form.text_field :rating %>
  </div>
  <div>
    <%= form.label :"Кол-во куплено" %>
    <%= form.text_field :purchased_count %>
  </div>
  <div>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit 'Добавить продукт' %>
  </div>
<% end %>
