<main class="main">
  <section class="top">
    <div class="container">
      <h1 class="title animated-right">.floral - онлайн маркетплейс</h1>
      <p class="subtitle animated">В нашем магазине - ваш лучший выбор для цветочных настроений, где каждый бутон 
      - это уникальный кусочек природы, готовый украсить ваш день.</p>
      <button class="buy-btn">
        <span class="buy-btn__text">Перейти в каталог*</span> 
      </button>
      <p class="buy__text">*Каталог поставщиков</p>
    </div>
  </section>
  <section class="pros">
    <div class="container">
      <div class="pros__titles">
        <h2 class="pros__title section-title">Почему наш магазин - ваш выбор?</h2>
        <p class="pros__text">От подбора букета до доставки близкому - за минуту.</p>
      </div>
      <div class="tabs">
        <div class="tabs__btn">
          <button class="tabs__btn-item tabs__btn-item--active" data_button="content-1">1. Простота выбора</button>
          <button class="tabs__btn-item" data_button="content-2">2. Скорость сервиса</button>
          <button class="tabs__btn-item" data_button="content-3">3. Широкий ассортимент</button>
          <button class="tabs__btn-item" data_button="content-4">4. Удобство оплаты</button>
          <button class="tabs__btn-item" data_button="content-5">5. Персональные предложения</button>
          <button class="tabs__btn-item" data_button="content-6">6. Уникальные букеты</button>
        </div>
        <div class="tabs__content">
          <div class="tabs__content-item tabs__content-item--active" id="content-1">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Выбирайте</h3>
              <p> 
                text text text text text text text text text text text
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-2">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Выбирайте</h3>
              <p> 
                text text text text text text text text text text text
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-3">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Выбирайте</h3>
              <p> 
                text text text text text text text text text text text
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-4">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Выбирайте</h3>
              <p> 
                text text text text text text text text text text text
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-5">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Выбирайте</h3>
              <p> 
                text text text text text text text text text text text
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-6">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Выбирайте</h3>
              <p> 
                text text text text text text text text text text text
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.querySelectorAll('.hidden');

    function checkScroll() {
      elements.forEach(function(element) {
        var position = element.getBoundingClientRect();

        // Добавление классов при прокрутке вниз
        if (position.top < window.innerHeight * 0.75) {
          element.classList.add('animated');
        }

        if (position.top < window.innerHeight * 0.75 && !element.classList.contains('animated-right')) {
          element.classList.add('animated-right');
        }

        // Добавление классов при прокрутке вверх
        if (position.bottom > window.innerHeight * 0.1) {
          element.classList.remove('animated');
          element.classList.remove('animated-right');
        }
      });
    }

    window.addEventListener('scroll', checkScroll);
    checkScroll();
  });
</script>