<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ваш Заголовок</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header>
    <div class="logo">
      <%= image_tag("logo.png", alt: "Логотип", width: "100", height: "100") %>
    </div>

    <nav>
      <%= link_to "Цветы", "#" %>
      <%= link_to "Кондитерская", "#" %>
      <%= link_to "Доставка", "#" %>
      <%= link_to "Партнерам", "#" %>
      <%= link_to "О нас", "#" %>
    </nav>

    <div class="account">
      <%= link_to "Кабинет", "#" %>
    </div>
  </header>

  <main>
    main block
  </main>
</body>
</html>
