<main class="main">
  <section class="top">
    <div class="container">
      <h1 class="title animated-right">.floral - онлайн маркетплейс</h1>
      <p class="subtitle animated">В нашем магазине - ваш лучший выбор для цветочных настроений, где каждый бутон 
      - это уникальный кусочек природы, готовый украсить ваш день.</p>
      <button class="buy-btn">
        <span class="buy-btn__text">Перейти в каталог*</span> 
      </button>
      <p class="buy__text">*Каталог поставщиков</p>
    </div>
  </section>
  <section class="pros">
    <div class="container">
      <div class="pros__titles">
        <h2 class="pros__title section-title">Почему наш магазин - ваш выбор?</h2>
        <p class="pros__text">От подбора букета до доставки близкому - за минуту.</p>
      </div>
      <div class="tabs">
        <div class="tabs__btn">
          <button class="tabs__btn-item tabs__btn-item--active animated" data_button="content-1">1. Простота выбора</button>
          <button class="tabs__btn-item animated" data_button="content-2">2. Скорость сервиса</button>
          <button class="tabs__btn-item animated" data_button="content-3">3. Широкий ассортимент</button>
          <button class="tabs__btn-item animated" data_button="content-4">4. Удобство оплаты</button>
          <button class="tabs__btn-item animated" data_button="content-5">5. Персональные предложения</button>
          <button class="tabs__btn-item animated" data_button="content-6">6. Уникальные букеты</button>
        </div>
        <div class="tabs__content">
          <div class="tabs__content-item tabs__content-item--active" id="content-1">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Забудьте о сложности.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс гарантирует простоту выбора цветов.<br><br> Легкость навигации и интуитивно понятный интерфейс позволяют вам 
                без труда подобрать идеальный букет. <br><br>Теперь выбор цветов стал таким же приятным, как их аромат!
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-2">
            <%= image_tag("content-2.jpg", alt: "плюсы-2", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>У нас вас времени на ожидание.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс предлагает высочайшую скорость обслуживания.<br><br> Закажите букет в несколько кликов и наслаждайтесь 
                быстрой доставкой.<br><br> Мы ценим ваше время и гарантируем, что каждый заказ обрабатывается моментально.</p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-3">
            <%= image_tag("content-3.jpg", alt: "плюсы-3", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Откройте для себя бескрайний мир красок.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс предоставляет вам доступ к самому разнообразному ассортименту цветов.<br><br> 
                От роскошных роз до экзотических букетов - у нас есть все, чтобы удовлетворить ваши самые изысканные вкусы.
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-4">
            <%= image_tag("content-4.jpg", alt: "плюсы-4", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Закажите радость с легкостью.</h3>
              <p class="tabs__content-subtitle"> 
                Наш сервис предлагает удобные и безопасные методы оплаты.<br><br> Забудьте о сложностях - оплачивайте заказ одним 
                касанием.<br><br> Мы делаем все возможное, чтобы сделать процесс покупки максимально удобным для вас.
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-5">
            <%= image_tag("content-5.jpg", alt: "плюсы-5", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Мы заботимся о каждом клиенте.</h3>
              <p class="tabs__content-subtitle"> 
                Получайте персональные предложения и скидки, соответствующие вашим предпочтениям.<br><br> Наш маркетплейс создан для 
                того, чтобы делать ваши покупки особенными и выгодными.
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-6">
            <%= image_tag("content-6.jpg", alt: "плюсы-6", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Дарите уникальность в каждом букете.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс гордится предложением уникальных букетов, созданных профессиональными флористами.<br><br> 
                Каждый букет - это произведение искусства, которое подчеркнет вашу заботу и внимание к деталям.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="offer">
    <div class="container">
      <h2 class="section-title offer__title">Мы предлагаем:</h2>
      <div class="offer__inner">
        <div class="offer__descr">
          <p class="offer__descr-title">Цветочное вдохновение</p><br><br>
          <p class="offer__descr-text">Откройте для себя наше разнообразие цветов и создайте свой уголок красоты.<br><br> Неважно, ищете ли вы яркий акцент 
            или нежное настроение, у нас есть букеты для каждого важного момента в вашей жизни.<br><br> Позвольте цветам рассказать вашу уникальную историю.</p>
        </div>
        <div class="offer__item">
          <%= image_tag("offer-img1.png", alt: "выбрать цветы", class:"offer__item-img") %>
          <h3 class="offer__item-title offer__title">Выбирайте букеты</h3>
          <p class="offer__item-text">Откройте для себя наше обширное разнообразие цветов.<br><br> Независимо от того, ищете ли вы яркий букет для особого случая
            или нежные цветы для повседневного уюта, у нас есть подборка, чтобы удовлетворить ваш взгляд и вдохновить ваш день.</p>
          <a class="offer__item-link" href="#">Перейти</a>
        </div>
        <div class="offer__item">
          <%= image_tag("offer-img2.png", alt: "кондитерская", class:"offer__item-img") %>
          <h3 class="offer__item-title offer__title">Не забудьте сладкое</h3>
          <p class="offer__item-text">Погрузитесь в мир сладких наслаждений в нашей кондитерской.<br><br> Наши уникальные десерты станут вкусным дополнением к 
            любому моменту. Позвольте себе немного радости в каждом угощении!</p>
          <a class="offer__item-link" href="#">Перейти</a>
        </div>
        <div class="offer__item">
          <%= image_tag("offer-img3.png", alt: "поставщикам", class:"offer__item-img") %>
          <h3 class="offer__item-title offer__title">Хотите сотрудничать?</h3>
          <p class="offer__item-text">Если у вас есть страсть к цветам или вы профессиональный кондитер, или имеете свой магазин, мы всегда рады новым 
            талантам в нашей команде.<br><br> Давайте создадим вместе что-то удивительное.<br><br> Обращайтесь для сотрудничества и воплощения ваших идей в жизнь.</p>
          <a class="offer__item-link" href="#">Перейти</a>
        </div>
      </div>
    </div>
  </section>
  <section class="buy">
    <p class="buy__bg">СПЕЦПРЕДЛОЖЕНИЕ</p>
    <%= image_tag("sale-buy.png", alt: "спецпредложение", class:"buy__img") %>
    <button class="buy-btn">
        <a class="buy-btn__text" href="#">Посмотреть акции</a> 
    </button>
  </section>
  <section class="popular">
    <div class="container">
      <h2 class="popular__title section-title">Часто смотрят:</h2>
      <div class="popular__choice">
        <div class="popular__choice-item popular__choice-item--one">
          <%= image_tag("popular-1.jpg", alt: "популярное-1", class:"popular__choice-img") %>
          <p class="popular__choice-text">
            <a class="offer__item-link" href="#">Свадебные букеты</a>
          </p>
        </div>
        <div class="popular__choice-item popular__choice-item--two">
          <%= image_tag("popular-2.png", alt: "популярное-2", class:"popular__choice-img") %>
          <p class="popular__choice-text">
            <a class="offer__item-link" href="#">Подарочные упаковки</a>
          </p>
        </div>
        <div class="popular__choice-item">
          <p class="popular__choice-title">
            Изысканные букеты и сладкие угощения в центре внимания среди покупателей.
          </p>
        </div>
        <div class="popular__choice-item popular__choice-item--three">
          <%= image_tag("popular-3.jpg", alt: "популярное-3", class:"popular__choice-img") %>
          <p class="popular__choice-text">
            <a class="offer__item-link" href="#">Цветы для романтических встреч</a>
          </p>
        </div>
        <div class="popular__choice-item popular__choice-item--four">
          <%= image_tag("popular-4.png", alt: "популярное-4", class:"popular__choice-img") %>
          <p class="popular__choice-text">
            <a class="offer__item-link" href="#">Торты, шоколад, конфеты</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="accessories">
    <div class="container">
      <h2 class="accessories__title section-title">in the box</h2>
      <p class="accessories__text">
        personalize any expirience
      </p>
      <div class="accessories__items">
        <div class="accessories__item">
          <%= image_tag("popular-4.png", alt: "аксесуар-1", class:"accessories__img") %>
          <h3 class="accessories__item-title">
            asdasdasdasd
          </h3>
          <p class="accessories__item-text">
            asdasdasdasdasdasdasdasdda
          </p>
          <p class="accessories__item-price">543</p>
          <button class="accessories__item-btn">
            button
          </button>
        </div>
      </div>
      <div class="accessories__items">
        <div class="accessories__item">
          <%= image_tag("popular-4.png", alt: "аксесуар-2", class:"accessories__img") %>
          <h3 class="accessories__item-title">
            asdasdasdasd
          </h3>
          <p class="accessories__item-text">
            asdasdasdasdasdasdasdasdda
          </p>
          <p class="accessories__item-price">543</p>
          <button class="accessories__item-btn">
            button
          </button>
        </div>
      </div>
      <div class="accessories__items">
        <div class="accessories__item">
          <%= image_tag("popular-4.png", alt: "аксесуар-3", class:"accessories__img") %>
          <h3 class="accessories__item-title">
            asdasdasdasd
          </h3>
          <p class="accessories__item-text">
            asdasdasdasdasdasdasdasdda
          </p>
          <p class="accessories__item-price">543</p>
          <button class="accessories__item-btn">
            button
          </button>
        </div>
      </div>
      <div class="accessories__items">
        <div class="accessories__item">
          <%= image_tag("popular-4.png", alt: "аксесуар-4", class:"accessories__img") %>
          <h3 class="accessories__item-title">
            asdasdasdasd
          </h3>
          <p class="accessories__item-text">
            asdasdasdasdasdasdasdasdda
          </p>
          <p class="accessories__item-price">543</p>
          <button class="accessories__item-btn">
            button
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<script defer>
  'use strict'
  document.addEventListener("DOMContentLoaded", function () {
    var elements = document.querySelectorAll('.tabs__btn-item, .title, .subtitle');

    // Функция для добавления класса с задержкой
    function addAnimatedClass(element, delay) {
      setTimeout(function () {
        element.classList.add('animated');
      }, delay);
    }

    // Функция для управления анимацией
    function handleAnimation() {
      elements.forEach(function (element, index) {
        var position = element.getBoundingClientRect();
        var isVisible = position.top < window.innerHeight * 1;

        if (isVisible && !element.classList.contains('animated')) {
          addAnimatedClass(element, index * 200); // 500 мс между каждым элементом
        } else if (!isVisible) {
          element.classList.remove('animated');
        }
      });
    }

    // Используем debounce, чтобы уменьшить частоту вызова функции
    var debounceTimeout;
    function debounce(func, delay) {
      clearTimeout(debounceTimeout);
      debounceTimeout = setTimeout(func, delay);
    }

    // Обработчик события скролла с использованием debounce
    window.addEventListener('scroll', function () {
      debounce(handleAnimation, 100); // Измените задержку, если необходимо
    });

    // Вызываем функцию для первоначальной установки классов
    handleAnimation();
  });
</script>

<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    const tabItems = document.querySelectorAll('.tabs__btn-item');
    const tabContents = document.querySelectorAll('.tabs__content-item');

    function showTabContent(index) {
      tabItems.forEach(item => item.classList.remove('tabs__btn-item--active'));
      tabContents.forEach(item => item.classList.remove('tabs__content-item--active'));

      tabItems[index].classList.add('tabs__btn-item--active');

      // Добавляем задержку перед добавлением класса
      setTimeout(function() {
        tabContents[index].classList.add('tabs__content-item--active');
      }, 300);
    }

    tabItems.forEach((item, index) => {
      item.addEventListener('click', function() {
        showTabContent(index);
      });
    });
  });
</script>

<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    var elements = document.querySelectorAll('.offer__title, .offer__descr-title, .offer__descr-text, .offer__item-title');

    function handleAnimation() {
      elements.forEach(function (element) {
        var position = element.getBoundingClientRect();
        var isVisible = position.top < window.innerHeight * 0.75;

        if (isVisible && !element.classList.contains('animated')) {
          element.classList.add('animated');
        } else if (!isVisible && element.classList.contains('animated')) {
          element.classList.remove('animated');
        }
      });
    }

    var debounceTimeout;
    function debounce(func) {
      clearTimeout(debounceTimeout);
      debounceTimeout = setTimeout(func, 100);
    }

    window.addEventListener('scroll', function () {
      debounce(handleAnimation);
    });

    handleAnimation(); // Вызываем функцию для первоначальной установки классов
  });
</script>

