<main class="main">
  <section class="top">
    <div class="container">
      <h1 class="title animated-right">.floral - онлайн маркетплейс</h1>
      <p class="subtitle animated">В нашем магазине - ваш лучший выбор для цветочных настроений, где каждый бутон 
      - это уникальный кусочек природы, готовый украсить ваш день.</p>
      <button class="buy-btn">
        <span class="buy-btn__text">Перейти в каталог*</span> 
      </button>
      <p class="buy__text">*Каталог поставщиков</p>
    </div>
  </section>
  <section class="pros">
    <div class="container">
      <div class="pros__titles">
        <h2 class="pros__title section-title">Почему наш магазин - ваш выбор?</h2>
        <p class="pros__text">От подбора букета до доставки близкому - за минуту.</p>
      </div>
      <div class="tabs">
        <div class="tabs__btn">
          <button class="tabs__btn-item tabs__btn-item--active animated" data_button="content-1">1. Простота выбора</button>
          <button class="tabs__btn-item animated" data_button="content-2">2. Скорость сервиса</button>
          <button class="tabs__btn-item animated" data_button="content-3">3. Широкий ассортимент</button>
          <button class="tabs__btn-item animated" data_button="content-4">4. Удобство оплаты</button>
          <button class="tabs__btn-item animated" data_button="content-5">5. Персональные предложения</button>
          <button class="tabs__btn-item animated" data_button="content-6">6. Уникальные букеты</button>
        </div>
        <div class="tabs__content">
          <div class="tabs__content-item tabs__content-item--active" id="content-1">
            <%= image_tag("content-1.jpg", alt: "плюсы-1", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Забудьте о сложности.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс гарантирует простоту выбора цветов.<br><br> Легкость навигации и интуитивно понятный интерфейс позволяют вам 
                без труда подобрать идеальный букет. <br><br>Теперь выбор цветов стал таким же приятным, как их аромат!
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-2">
            <%= image_tag("content-2.jpg", alt: "плюсы-2", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>У нас вас времени на ожидание.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс предлагает высочайшую скорость обслуживания.<br><br> Закажите букет в несколько кликов и наслаждайтесь 
                быстрой доставкой.<br><br> Мы ценим ваше время и гарантируем, что каждый заказ обрабатывается моментально.</p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-3">
            <%= image_tag("content-3.jpg", alt: "плюсы-3", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Откройте для себя бескрайний мир красок.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс предоставляет вам доступ к самому разнообразному ассортименту цветов.<br><br> 
                От роскошных роз до экзотических букетов - у нас есть все, чтобы удовлетворить ваши самые изысканные вкусы.
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-4">
            <%= image_tag("content-4.jpg", alt: "плюсы-4", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Закажите радость с легкостью.</h3>
              <p class="tabs__content-subtitle"> 
                Наш сервис предлагает удобные и безопасные методы оплаты.<br><br> Забудьте о сложностях - оплачивайте заказ одним 
                касанием.<br><br> Мы делаем все возможное, чтобы сделать процесс покупки максимально удобным для вас.
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-5">
            <%= image_tag("content-5.jpg", alt: "плюсы-5", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Мы заботимся о каждом клиенте.</h3>
              <p class="tabs__content-subtitle"> 
                Получайте персональные предложения и скидки, соответствующие вашим предпочтениям.<br><br> Наш маркетплейс создан для 
                того, чтобы делать ваши покупки особенными и выгодными.
              </p>
            </div>
          </div>
          <div class="tabs__content-item" id="content-6">
            <%= image_tag("content-6.jpg", alt: "плюсы-6", class:"tabs__content-img") %>
            <div class="tabs__content-box">
              <h3>Дарите уникальность в каждом букете.</h3>
              <p class="tabs__content-subtitle"> 
                Наш маркетплейс гордится предложением уникальных букетов, созданных профессиональными флористами.<br><br> 
                Каждый букет - это произведение искусства, которое подчеркнет вашу заботу и внимание к деталям.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script defer>
  'use strict'
  document.addEventListener("DOMContentLoaded", function () {
    var elements = document.querySelectorAll('.tabs__btn-item, .title, .subtitle');

    // Функция для добавления класса с задержкой
    function addAnimatedClass(element, delay) {
      setTimeout(function () {
        element.classList.add('animated');
      }, delay);
    }

    // Функция для управления анимацией
    function handleAnimation() {
      elements.forEach(function (element, index) {
        var position = element.getBoundingClientRect();
        var isVisible = position.top < window.innerHeight * 0.75;

        if (isVisible && !element.classList.contains('animated')) {
          addAnimatedClass(element, index * 200); // 500 мс между каждым элементом
        } else if (!isVisible) {
          element.classList.remove('animated');
        }
      });
    }

    // Используем debounce, чтобы уменьшить частоту вызова функции
    var debounceTimeout;
    function debounce(func, delay) {
      clearTimeout(debounceTimeout);
      debounceTimeout = setTimeout(func, delay);
    }

    // Обработчик события скролла с использованием debounce
    window.addEventListener('scroll', function () {
      debounce(handleAnimation, 100); // Измените задержку, если необходимо
    });

    // Вызываем функцию для первоначальной установки классов
    handleAnimation();
  });
</script>

<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    const tabItems = document.querySelectorAll('.tabs__btn-item');
    const tabContents = document.querySelectorAll('.tabs__content-item');

    function showTabContent(index) {
      tabItems.forEach(item => item.classList.remove('tabs__btn-item--active'));
      tabContents.forEach(item => item.classList.remove('tabs__content-item--active'));

      tabItems[index].classList.add('tabs__btn-item--active');

      // Добавляем задержку перед добавлением класса
      setTimeout(function() {
        tabContents[index].classList.add('tabs__content-item--active');
      }, 300);
    }

    tabItems.forEach((item, index) => {
      item.addEventListener('click', function() {
        showTabContent(index);
      });
    });
  });
</script>