<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Floral</title>
    <meta charset="UTF-8">
    <meta name="author" content="Bogdan Davidovich">
    <meta name="keywords" content="Продажа цветов, маркетплейс, цветы, букеты, кондитерская, доставка цветов">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flowers", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--header section starts-->
    <header class="header">
      <div class="container">
        <nav class="nav">
          <%= link_to root_path, class: "logo" do %>
            <%= image_tag("logo.png", alt: "Логотип Floral") %>
          <% end %>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to "Цветы", flowers_path, class: "menu__link" %>
            </li>
            <li class="menu__list">
              <%= link_to "Кондитерская", "#", class: "menu__link" %>
            </li>
            <li class="menu__list">
              <%= link_to "Доставка", "#", class: "menu__link" %>
            </li>
            <li class="menu__list">
              <%= link_to "О нас", "#", class: "menu__link" %>
            </li>
            <li class="menu__list">
              <%= link_to "Партнерам", "#", class: "menu__link" %>
            </li>
            <li class="menu__list cart">
              <%= link_to("#", target: "_blank") do %>
                <%= image_tag("cart.png", alt: "Корзина", class: "cart-image") %>
                <span class="cart-count cart-count__on">4</span>
              <% end %>
            </li>
          </ul>
          <div class="account">
            <%= link_to "Кабинет", "#", target: "_blank" %>
          </div>
        </nav>
      </div>
    </header>
    <!--header section ends-->

    <!--main section starts-->
    <%= yield %>
    <!--main section ends-->
    
    <!--footer section starts-->
    <footer class="footer">
      <div class="container">
        <nav class="nav">
          <%= link_to("#", target: "_blank", class: "logo") do %>
            <%= image_tag("logo.png", alt: "Логотип Floral") %>
          <% end %>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to "Доставка", "#", target: "_blank", class: "menu__link" %>
            </li>
            <li class="menu__list">
              <%= link_to "О нас", "#", target: "_blank", class: "menu__link" %>
            </li>
            <li class="menu__list">
              <%= link_to "Партнерам", "#", target: "_blank", class: "menu__link" %>
            </li>
          </ul>
          <ul class="social">
            <li class="item">
              <%= link_to("#", target: "_blank") do %>
                <%= image_tag("instagram.png", alt: "связаться - instagram", class: "social__link--1") %>
              <% end %>
            </li>
            <li class="item">
              <%= link_to("#", target: "_blank", class: "social__link--2") do %>
                <%= image_tag("telegram.png", alt: "связаться - telegram", class: "social__link--2") %>
              <% end %>
            </li>
            <li class="item">
              <%= link_to("mailto:floralflowersby@gmail.com") do %>
                <%= image_tag("gmail.png", alt: "связаться - gmail", class: "social__link--3") %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <!--footer section ends-->
  </body>
</html>
