<!DOCTYPE html>
<html>
  <head>
    <title>Floral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag("logo.png", alt: "Логотип", width: "100", height: "100") %>
      </div>

      <nav>
        <%= link_to "Цветы", "#" %>
        <%= link_to "Кондитерская", "#" %>
        <%= link_to "Доставка", "#" %>
        <%= link_to "Партнерам", "#" %>
        <%= link_to "О нас", "#" %>
      </nav>

      <div class="account">
        <%= link_to "Кабинет", "#" %>
      </div>
    </header>

    <%= yield %>

    <footer>
      footer block
    </footer>
  </body>
</html>
